#header {
    border-top: 3px solid rgba(51, 51, 51, 0.2);
    border-bottom: 3px solid rgba(51, 51, 51, 0.2);
    text-align: center;
    height: 150px;
}

#header p {
    margin-bottom: 0px;
}

#container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-imagem {
    width: 50px;
}

#navbar {
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#navbar > * {
    padding: 20px;
    color: #333;
    text-decoration: none;
    transition-duration: 250ms;
}

#navbar > *:hover {
    color: #747d8c;
}

#main-image-container {
    height: 740px;
}

.main-image {
    position: relative;
    padding: 25px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(images/g_1.jpg);
}

.main-image-info {
    position: absolute;
    left: 25px;
    bottom: 25px;
    padding: 25px;
    width: 365px;
    background-color: white;
}

.btn {
    color: white;
    border-radius: 0px;
    background-color: black;
}

.btn:hover {
    color: #747d8c;
}

@media (max-width: 425px) {
    .main-image-info {
        left: 10px;
        bottom: 10px;
        width: 330px;
    }
}

#gallery-info {
    height: 100px;
    text-align: center;
}

#gallery-info h1 {
    line-height: 100px;
}

.col-md-6, .col-xs-12 {
    height: 300px;
    margin-bottom: 180px;
}

#img-1 {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(images/g_2.jpg);
}

#img-2 {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(images/g_3.jpg);
}

#img-3 {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(images/g_4.jpg);
}

#img-4 {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(images/g_5.jpg);
}

#img-5 {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(images/g_6.jpg);
}